.WelcomeMessage {

    background-color: hsl(120, 97%, 57%);
    margin: 10px;
    padding: 5px;
    border: 2px solid black;
    border-radius: 10px;

}

.LogInPrompt {

    background-color: hsl(0, 97%, 57%);
    margin: 10px;
    padding: 5px;
    border: 2px solid black;
    border-radius: 10px;

}